<!DOCTYPE html>
<html ng-app="userApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UserApp</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/_all-skins.min.css'/>
    <link rel='stylesheet' href='/stylesheets/AdminLTE.min.css' />
    <script src="./jquery-1.12.3.min.js"></script>
    <script src="./bootstrap.min.js"></script>
    <script src="./angular.min.js"></script>
    <script src="./angular-route.js"></script>
    <script src="./ngStorage.min.js"></script>
    <script src="./controller/app.js"></script>
    <script src="./controller/controller.js"></script>
  </head>
  <!-- <body style="background-color:#380000"> -->
  <!-- <img src="images/4.png"> -->
  <body>
    <!-- <%- body %> -->
    <div ng-view=""></div>
    <div ng-include="'htmlPages/header.html'"></div>
    <!-- <div ng-view></div> -->
  </body>
</html>
