<!-- <div align="center">
	<h1><u>Welcome</u></h1>
	<button type="button" ng-click="registration()">Registration</button>
	<button type="button" ng-click="login()">Login</button>
</div> -->
<!-- <div align="center">
	<div class="container-fluid bottom_60 " style="padding:0;">
	<div class="wood_bg">
	 <div class="col-lg-11 margin_auto" style="padding-bottom:50px;">
		<div class="text-center" style="padding-top:65px;">
			<img src="images/3.jpeg">
			<h2 class="port">User Login</h2>
		<form class="form" name="userLoginForm">
		<div class="col-lg-4 col-md-5 col-sm-6 margin_auto media_380">
			<div class="white_bg">
				<div class="form-group">
					<input type="text" name="email" placeholder="Email address" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="logData.email" class="form-control email border_none2 width100" required>
				</div>
				 <div class="form-group">
					<input type="password" placeholder="Password" name="password" ng-model="logData.password" class="form-control email border_none2 width100" required>
				</div>
				<div class="form-group">
					<button class="btn btn-default next" type="submit" ng-click="userLogin(logData)" style="width:100%;">Submit</button>
				</p>
				</div>
			</div>
		</div>
	</form>
</div>
	</div>
	</div>
</div>
</div> -->

<div>
	<div class="text-center">
	<img src="images/3.jpeg">
	<h2 class="port">User Login</h2>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 login-border">
	<form class="form" name="userLoginForm" style="margin-top:17px;">
	<div>
		<div>
			<div class="form-group">
				<input type="text" name="email" placeholder="Email address" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-model="logData.email" class="form-control email border_none2 width100" required>
			</div>
			 <div class="form-group">
				<input type="password" placeholder="Password" name="password" ng-model="logData.password" class="form-control email border_none2 width100" required>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit" ng-click="userLogin(logData)" style="width:100%;">Submit</button>
			</div>
		</div>
	</div>
</form>
<p> New user ? <a href="#registration">create new account</a></p>
</div>
